<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <div>
        <label for ="title", class='dd'>[ 제목 ]</label>
    </br></br><input type="text" name="title" id="title" placeholder="제목을 입력해주세요.">

       
    </div>
</br><div>
        <label for="deadline", class='dd'>[ 마감 기한 ]</label>
        </br></br><input type="datetime-local" name="deadline" id="deadline">
    </div>
    </br><div>
        <label for="content", class='dd'>[ 내용 ]</label>
    </br></br><textarea name="content" id="content" cols="30" rows="10" placeorder="내용을 입력해주세요."></textarea>
    </div>
   
    </br><button type="submit">작성하기</button>
   </form>
</body>
</html>