{% extends 'base.html' %} {% block title %} Detail!{% endblock %} {% block css%} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
{% endblock %} {% block content %}
<div class="detail-post_container">
    <div class="detail_title">제목: {{post.title}}</div>
    <div class="detail_content">내용: {{post.content}}</div>
    <div class="detail_content">작성자: {{post.author.username}}</div>
    <div class="detail-post_btn">
        <a href="{% url 'home' %}">홈 화면</a>
        {% if user.is_authenticated and user.pk == post.author.pk %}
        <a href="{% url 'edit' post.pk %}">수정하기</a>
        <a href="{% url 'delete' post.pk %}">삭제하기</a>{% endif %}
        <span class="like-count">좋아요 수 {{ post.likes.count }}</span>
    </div>
    <form class="comment-form" action="{% url 'add_comment' post.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" class="comment-content" name="content" />
        <button type="submit">댓글 작성</button>
    </form>
    <button class="like-button">좋아요</button>
    <ul class="comment-list">
        {% for comment in post.comments.all %}
        <li data-comment-id="{{ comment.pk }}">
            <span>{{ comment.content }}</span>
            <span>{{ comment.author.username }}</span>
            {% if user.pk == comment.author.pk and user.is_authenticated %}
            <a href="{% url 'delete_comment' post.pk comment.pk %}">삭제</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const likeButton = document.querySelector('.like-button');
    const likeCount = document.querySelector('.like-count');
    const commentForm = document.querySelector('.comment-form');
    const commentList = document.querySelector('.comment-list');

    const handleLike = async () => {
        try {
            const res = await axios.post('/like', { post_pk: '{{ post.pk }}' });
            likeCount.innerHTML = "좋아요 수 " + res.data.like_count;
        } catch (err) {
            console.error(err);
        }
    };

    const handleComment = async (event) => {
        event.preventDefault();
        const formData = new FormData(commentForm);
        try {
            const res = await axios.post(commentForm.action, formData);
            const resComment = res.data;
            const comment = document.createElement('li');
            comment.innerHTML = `${resComment.content} ${resComment.author} <a class="delete-comment">삭제</a>`;
            commentList.appendChild(comment);
            commentForm.reset();
        } catch (err) {
            console.error(err);
        }
    };
    
    commentForm.addEventListener('submit', handleComment);
    likeButton.addEventListener('click', handleLike);
</script>

{% endblock %}