body {
    margin: 0;
    width: 100%;
}
.grey {
    color: rgb(132, 132, 132);
}
.all {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    padding-top: 2px;
}

.contact {
    text-align: left;
}
.what {
    text-align: left;
}
.tit {
    color: black;
}
